In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pyexcel_ods3 import get_data

In [79]:
data= 'seadata.csv'
df=pd.read_csv(data)
print(df)

       #--------------------------------------------------------------------------------  \
0                            CAST
1                            NODC Cruise ID
2                            Originators Station ID
3                            Originators Cruise ID
4                            Latitude
5                            Longitude
6                            Year
7                            Month
8                            Day
9                                                METADATA
10                           Country
11                           Accession Number
12                           Platform
13                           Cast/Tow Number
14                           Bottom depth
15                           probe_type
16                           Database origin
17                           Originators flag set to use
18                                      Instrument
19                             scale
20                                    Investigator
21                                             VARIABLES
22                                             UNITS
23                                             Prof-Flag
24                                                      1
25                                                      2
26                                                      3
27                                                      4
28                                                      5
29                                                      6
...                                                   ...
178260                                  Instrument
178261                         scale
178262                                         VARIABLES
178263                                         UNITS
178264                                         Prof-Flag
178265                                                  1
178266                                                  2
178267                                                  3
178268                                                  4
178269                                                  5
178270                                                  6
178271                                                  7
178272                                                  8
178273                                                  9
178274                                                 10
178275                                                 11
178276                                                 12
178277                                                 13
178278                                                 14
178279                                                 15
178280                                                 16
178281                                                 17
178282                                                 18
178283                                                 19
178284                                                 20
178285                                                 21
178286                                                 22
178287                                                 23
178288                                                 24
178289                           END OF VARIABLES SECTION

         Unnamed: 1       Unnamed: 2              Unnamed: 3  \
0               NaN         11313289  WOD Unique Cast Number
1               NaN  US-28018                            NaN
2               NaN                1                     NaN
3               NaN  33SW20030418                        NaN
4               NaN           11.556         decimal degrees
5               NaN          -56.477         decimal degrees
6               NaN             2003                     NaN
7               NaN                4                     NaN
8               NaN               19                     NaN
9               NaN              NaN                     NaN
10              NaN               US               NODC code
11              NaN            38589               NODC code
12              NaN             7432                OCL code
13              NaN                6                     NaN
14              NaN             4413                  meters
15              NaN                7                OCL_code
16              NaN               10                WOD code
17              NaN                1                WOD code
18      Temperature                4                WOD code
19               pH             1461                WOD code
20        Cruise PI             1648                WOD code
21       Depth                     F                       O
22       m
23                                 0
24             1.99                0                       2
25            20.38                0                       2
26            40.27                0                       2
27            60.15                0                       2
28            80.03                0                       2
29           101.99                0                       2
...             ...              ...                     ...
178260  Temperature                4                WOD code
178261           pH             1464                WOD code
178262   Depth                     F                       O
178263   m
178264                             0
178265         3.27                0                       2
178266        17.82                0                       2
178267        33.85                0                       2
178268        89.38                0                       2
178269       168.92                0                       2
178270       277.31                0                       2
178271       400.85                0                       2
178272       519.58                0                       2
178273       662.72                0                       2
178274        795.7                0                       2
178275          928                0                       2
178276      1058.64                0                       2
178277      1194.02                0                       2
178278      1348.79                0                       2
178279      1515.34                0                       2
178280       1733.6                0                       2
178281       2108.6                0                       2
178282      2454.66                0                       2
178283      2784.53                0                       2
178284      3104.44                0                       2
178285      3344.57                0                       2
178286      3733.31                0                       2
178287      4081.46                0                       2
178288       4427.6                0                       2
178289          NaN              NaN                     NaN

                                               Unnamed: 4 Unnamed: 5  \
0                                                WOD code        NaN
1                                                     NaN        NaN
2                                                     NaN    integer
3                                                     NaN        NaN
4                                                     NaN        NaN
5                                                     NaN        NaN
6                                                     NaN        NaN
7                                                     NaN        NaN
8                                                     NaN        NaN
9                                                     NaN        NaN
10                                          UNITED STATES        NaN
11                                                    NaN        NaN
12      SEWARD JOHNSON (R/V; call sign WST9756; built ...        NaN
13                                                    NaN        NaN
14                                                    NaN        NaN
15                                    bottle/rossette/net        NaN
16                                              WHO/CCHDO        NaN
17                                                   WOCE        NaN
18                                      CTD: TYPE UNKNOWN        NaN
19                                    pH:SWS25 (pH_SWS25)        NaN
20                                      SUBRAMANIAM; AJIT        NaN
21                                            Temperatur           F
22                                             degrees C         NaN
23                                                                 0
24                                                  27.55          0
25                                                  26.81          0
26                                                  26.75          0
27                                                  26.23          0
28                                                  25.91          0
29                                                  26.03          0
...                                                   ...        ...
178260                                  CTD: TYPE UNKNOWN        NaN
178261                                   UNKNOWN: UNKNOWN        NaN
178262                                        Temperatur           F
178263                                         degrees C         NaN
178264                                                             0
178265                                             1.6057          0
178266                                             1.7831          0
178267                                            -0.3156          0
178268                                            -1.6011          0
178269                                             0.5168          0
178270                                             2.0146          0
178271                                             2.1086          0
178272                                             2.0507          0
178273                                             1.9874          0
178274                                             1.8876          0
178275                                             1.7735          0
178276                                             1.6577          0
178277                                             1.5412          0
178278                                             1.4202          0
178279                                             1.3126          0
178280                                             1.1674          0
178281                                             0.9691          0
178282                                             0.8334          0
178283                                             0.7048          0
178284                                             0.5725          0
178285                                             0.5076          0
178286                                             0.4292          0
178287                                             0.3919          0
178288                                             0.3835          0
178289                                                NaN        NaN

       Unnamed: 6   Unnamed: 7  Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
0             NaN          NaN         NaN        NaN         NaN         NaN
1             NaN          NaN         NaN        NaN         NaN         NaN
2             NaN          NaN         NaN        NaN         NaN         NaN
3             NaN          NaN         NaN        NaN         NaN         NaN
4             NaN          NaN         NaN        NaN         NaN         NaN
5             NaN          NaN         NaN        NaN         NaN         NaN
6             NaN          NaN         NaN        NaN         NaN         NaN
7             NaN          NaN         NaN        NaN         NaN         NaN
8             NaN          NaN         NaN        NaN         NaN         NaN
9             NaN          NaN         NaN        NaN         NaN         NaN
10            NaN          NaN         NaN        NaN         NaN         NaN
11            NaN          NaN         NaN        NaN         NaN         NaN
12            NaN          NaN         NaN        NaN         NaN         NaN
13            NaN          NaN         NaN        NaN         NaN         NaN
14            NaN          NaN         NaN        NaN         NaN         NaN
15            NaN          NaN         NaN        NaN         NaN         NaN
16            NaN          NaN         NaN        NaN         NaN         NaN
17            NaN          NaN         NaN        NaN         NaN         NaN
18            NaN          NaN         NaN        NaN         NaN         NaN
19            NaN          NaN         NaN        NaN         NaN         NaN
20            NaN          NaN         NaN        NaN         NaN         NaN
21              O  pH                    F          O         NaN         NaN
22                              (n/a)             NaN
23                                       0                    NaN         NaN
24              2       8.2192           0          2         NaN         NaN
25              2        8.101           0          2         NaN         NaN
26              2        8.099           0          2         NaN         NaN
27              2        8.093           0          2         NaN         NaN
28              2       8.0897           0          2         NaN         NaN
29              2       8.0575           0          2         NaN         NaN
...           ...          ...         ...        ...         ...         ...
178260        NaN          NaN         NaN        NaN         NaN         NaN
178261        NaN          NaN         NaN        NaN         NaN         NaN
178262          O  pH                    F          O         NaN         NaN
178263                          (n/a)             NaN
178264                                   0                    NaN         NaN
178265          2        7.702           0          2         NaN         NaN
178266          2       7.7181           0          2         NaN         NaN
178267          2       7.7148           0          2         NaN         NaN
178268          2       7.6345           0          2         NaN         NaN
178269          2       7.5646           0          2         NaN         NaN
178270          2       7.5308           0          2         NaN         NaN
178271          2       7.5434           0          2         NaN         NaN
178272          2       7.5547           0          2         NaN         NaN
178273          2       7.5662           0          2         NaN         NaN
178274          2       7.5758           0          2         NaN         NaN
178275          2       7.5845           0          2         NaN         NaN
178276          2       7.5871           0          2         NaN         NaN
178277          2       7.5889           0          2         NaN         NaN
178278          2         7.59           0          2         NaN         NaN
178279          2       7.5904           0          2         NaN         NaN
178280          2       7.5927           0          2         NaN         NaN
178281          2       7.5926           0          2         NaN         NaN
178282          2       7.5917           0          2         NaN         NaN
178283          2       7.5891           0          2         NaN         NaN
178284          2       7.5874           0          2         NaN         NaN
178285          2        7.589           0          2         NaN         NaN
178286          2        7.588           0          2         NaN         NaN
178287          2       7.5859           0          2         NaN         NaN
178288          2       7.5858           0          2         NaN         NaN
178289        NaN          NaN         NaN        NaN         NaN         NaN

[178290 rows x 12 columns]

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178290 entries, 0 to 178289
Data columns (total 12 columns):
#--------------------------------------------------------------------------------    178290 non-null object
Unnamed: 1                                                                           109764 non-null object
Unnamed: 2                                                                           168949 non-null object
Unnamed: 3                                                                           144791 non-null object
Unnamed: 4                                                                           129158 non-null object
Unnamed: 5                                                                           101007 non-null object
Unnamed: 6                                                                           100987 non-null object
Unnamed: 7                                                                           100792 non-null object
Unnamed: 8                                                                           100792 non-null object
Unnamed: 9                                                                           97678 non-null object
Unnamed: 10                                                                          3114 non-null object
Unnamed: 11                                                                          3114 non-null object
dtypes: object(12)
memory usage: 16.3+ MB